Django==5.2.11
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-decouple==3.8
qrcode==8.2
pillow==12.1.1
reportlab==4.4.10
PyJWT==2.11.0
djangorestframework-simplejwt==5.5.1
sqlparse==0.5.5
asgiref==3.11.1
tzdata==2025.3
